<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1,1283},{720,1280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{723,1},{720,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1283,1283},{720,1280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>store.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1445,1},{720,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bg.png</string>
            <key>size</key>
            <string>{2564,2004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62ecf2ff7bb4911eee090dae7a878447:d6bf2e55bd97748b8703127163c31fd0:ba3351e848913f852cb04737e7054a9e$</string>
            <key>textureFileName</key>
            <string>bg.png</string>
        </dict>
    </dict>
</plist>
