<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boom1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,58}</string>
                <key>spriteSourceSize</key>
                <string>{104,58}</string>
                <key>textureRect</key>
                <string>{{143,63},{104,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bullet1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{216,158},{27,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,16}</string>
                <key>spriteSourceSize</key>
                <string>{17,16}</string>
                <key>textureRect</key>
                <string>{{216,188},{17,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{143,169},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{55,69}</string>
                <key>spriteSourceSize</key>
                <string>{57,69}</string>
                <key>textureRect</key>
                <string>{{65,179},{55,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,62}</string>
                <key>spriteSourceSize</key>
                <string>{64,62}</string>
                <key>textureRect</key>
                <string>{{1,179},{64,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{100,60}</string>
                <key>spriteSourceSize</key>
                <string>{104,62}</string>
                <key>textureRect</key>
                <string>{{143,1},{100,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainPlane1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{140,176}</string>
                <key>spriteSourceSize</key>
                <string>{146,176}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tool2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,93}</string>
                <key>spriteSourceSize</key>
                <string>{40,93}</string>
                <key>textureRect</key>
                <string>{{203,63},{40,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sprite.png</string>
            <key>size</key>
            <string>{244,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2df89f7ad15339cc2b670c162cbd03de:6111c0e6f605949936ee702e0343db96:0cbcc0bef9ecb80372fd8169b79a4a7a$</string>
            <key>textureFileName</key>
            <string>sprite.png</string>
        </dict>
    </dict>
</plist>
