<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CloseNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{324,706},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CloseSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{366,706},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GAMEOVER1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{438,287}</string>
                <key>spriteSourceSize</key>
                <string>{438,287}</string>
                <key>textureRect</key>
                <string>{{1,1},{438,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SliderNode_Disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,43}</string>
                <key>spriteSourceSize</key>
                <string>{46,43}</string>
                <key>textureRect</key>
                <string>{{288,661},{46,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SliderNode_Normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,43}</string>
                <key>spriteSourceSize</key>
                <string>{46,43}</string>
                <key>textureRect</key>
                <string>{{336,661},{46,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SliderNode_Press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,43}</string>
                <key>spriteSourceSize</key>
                <string>{46,43}</string>
                <key>textureRect</key>
                <string>{{384,661},{46,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slider_Back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,37}</string>
                <key>spriteSourceSize</key>
                <string>{378,39}</string>
                <key>textureRect</key>
                <string>{{441,1},{378,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slider_PressBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,37}</string>
                <key>spriteSourceSize</key>
                <string>{378,39}</string>
                <key>textureRect</key>
                <string>{{441,381},{378,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{64,34}</string>
                <key>spriteSourceSize</key>
                <string>{66,36}</string>
                <key>textureRect</key>
                <string>{{213,702},{64,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>check_box_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,40}</string>
                <key>spriteSourceSize</key>
                <string>{43,40}</string>
                <key>textureRect</key>
                <string>{{383,579},{43,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>check_box_active_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,40}</string>
                <key>spriteSourceSize</key>
                <string>{43,40}</string>
                <key>textureRect</key>
                <string>{{383,579},{43,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>check_box_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,40}</string>
                <key>spriteSourceSize</key>
                <string>{43,40}</string>
                <key>textureRect</key>
                <string>{{279,706},{43,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>check_box_normal_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,40}</string>
                <key>spriteSourceSize</key>
                <string>{43,40}</string>
                <key>textureRect</key>
                <string>{{279,706},{43,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>check_box_normal_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,40}</string>
                <key>spriteSourceSize</key>
                <string>{43,40}</string>
                <key>textureRect</key>
                <string>{{279,706},{43,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>input1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,38}</string>
                <key>spriteSourceSize</key>
                <string>{200,40}</string>
                <key>textureRect</key>
                <string>{{213,621},{200,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>input2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,40}</string>
                <key>spriteSourceSize</key>
                <string>{380,40}</string>
                <key>textureRect</key>
                <string>{{1,579},{380,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,66}</string>
                <key>spriteSourceSize</key>
                <string>{216,70}</string>
                <key>textureRect</key>
                <string>{{1,621},{210,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ok.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,39}</string>
                <key>spriteSourceSize</key>
                <string>{73,39}</string>
                <key>textureRect</key>
                <string>{{213,661},{73,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>register.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,66}</string>
                <key>spriteSourceSize</key>
                <string>{216,70}</string>
                <key>textureRect</key>
                <string>{{1,689},{210,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>victory1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{438,287}</string>
                <key>spriteSourceSize</key>
                <string>{438,287}</string>
                <key>textureRect</key>
                <string>{{1,290},{438,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UI.png</string>
            <key>size</key>
            <string>{479,760}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:461e5a2873b651a8b5976e8066136c8b:3e5c08a2c6d3144b1fc9efb98c962d5b:4d1c460786d5294715f9f3e199a00761$</string>
            <key>textureFileName</key>
            <string>UI.png</string>
        </dict>
    </dict>
</plist>
